{% extends 'base.html.twig' %}

{% block title %}Hello RandomController!{% endblock %}

{% block body %}
    <html>
    <body>
        <h1> Random число : {{ number }} </h1>
    </body>
    </html>

{% endblock %}
