{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Создание устройства{% endblock %}

{% block body %}
    <div class="createform">
        {{ form(form) }}
    </div>
{% endblock %}
