<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-lg-9"></div>
                <div class="col-lg-3">
                    {% block top_header %}
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('app_logout',{}) }}">Выход</a>
                        {% else %}
                            <a href="{{ path('app_login',{}) }}">Вход</a>
                            <div>или</div>
                            <a href="{{ path('app_register',{}) }}">Регистрация</a>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% block header %}
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a type="button" href="{{  path('device_list',{}) }}" class="btn btn-primary">Главная</a>
                            <a type="button" class="btn btn-primary">Поддержка</a>
                            <a type="button" class="btn btn-primary">Контакты</a>
                        </div>
                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    {% block left_menu %}Left menu{% endblock %}
                </div>
                <div class="col-sm-9">
                    {% block body %}

                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                {% block footer %}
                    Разработчик Max (c) 2019
                {% endblock %}
                </div>
            </div>
        </div>


        {% block javascripts %}{% endblock %}
    </body>
</html>
